
/***********************FONT FAMILY*************************************/

@font-face{
    font-family: myfont;
    src:url("./Poppins/Poppins-Regular.ttf");
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myfont;
    
}
header{
    position: relative;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 10px 5%;
    align-items: center;
    color: white;
    z-index: 5;
    transition: all 0.5s;
}
nav .dropdown{
    display: flex;
    list-style: none;
}
.dropdown li{
    padding: 10px 10px;
}
.dropdown li:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    
}
.dropdown a{
    text-decoration: none;
    color: white;
    /* padding: 5px; */
}
.toggleBTN{
    display: none;
}
.headerdiv{
    display: flex;
}
.headerdiv .left{
    width: 80%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    flex-wrap: wrap;
}
.left .content,.left img{
    width: 50%;
}
.left h1{
    font-size: 50px;
}
.left button{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border: 1px orange solid;
}
.left button:hover{
    background-color: white;
    color: black;
    border: white solid 1px;
}

.headerdiv .right{
    width: 20%;
    background-color: orange; 
}
.form{
    background-color: white;
    padding: 50px 2%;
    position: absolute;
    top: 90%;
    left: 25%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form button{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.form button:hover{
    background-color: black;
    color: white;
}
.form input{
    height: 35px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px gray;
}
.jobs{
    padding-top: 20vh;
    text-align: center;
}
.heading h1{
    font-size: 30px;
}
.heading h1:nth-child(2){
    color: orange;
}
.heading button:nth-child(1){
    background-color: black;
    cursor: pointer;
}
.heading button:nth-child(1):hover{
    background-color: orange;
}
.heading button{
    padding:  10px 20px;
    background-color: orange;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.heading button:hover{
    color: white;
    background-color: black;
}
.jobcardcontainer{
    padding: 50px 10%;
}
.jobcards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    background:linear-gradient(rgba(0,0,0,0.9) 50%,orange 50%);
    color: white;
    height: 250px;
    padding: 60px 0;
    position: relative;
    border-radius: 10px;
    margin: 10px 0;
    background-size:100% 200% ;
    background-position: top;
    transition: all .4s ease-in-out;
}
.card:hover{
    background-position: bottom;
}
.card:hover a{
    color: black;
}
.card a{    
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: orange;
    text-decoration: none;
}

.jobcardcontainer button{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}
article{
    display: flex;
    flex-wrap: wrap;
}
article div{
    width: 50%;
    background-color: orange;
    color: white;
    padding: 60px 5% 50px 5%;
    
}
article img{
    width: 50%;
    height: 500px;
}
article h1{
    font-size: 50px;
}
article p{
    padding: 20px 0;
}
article button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.contact{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 50px;
}
.contactcontent{
    padding: 10px;
    text-align: center;
    width: 50%;
    

}
.contactform{
    background-color: rgba(255, 166, 0, 0.89);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 8px black;    
}
.contactform input{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(192, 189, 189);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.493);
    width: 100%;
    
}
.contactform textarea{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(192, 189, 189);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.493);
    width: 100%;
}
.contactform button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    border: rgb(0, 0, 0) 1px solid;
}
.contactform button:hover{
    border: solid 1px orange;
}
.social{
    margin-top: 20px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.493);

}
.social i{
    font-size: 30px;
    padding: 10px;
    color: orange;
}
.social i:hover{
    background-color: rgba(0, 0, 0, 0.929);
    border-radius: 10PX;
}
footer{
    padding: 20px 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.social i:hover{
    background-color: orange;
    color: black;
}


@media (max-width:768px){
    nav .dropdown{
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .dropdown li{
        padding: 0px 10px;
    }
    .toggleBTN{
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
    .left .content,.left img{
        width: 100%;
        padding: 50px 0px;
    }
    .form{
        left: 10%;
        width: 80%;
    }
    .form input{
        height: 30px;
        width: 100%;
        margin-bottom: 10px;
    }
    .jobs{
        padding-top: 40vh;
    }
    
    article div{
        width: 100%;
    }
    article img{
        width: 100%;
    }
    footer div{ 
        width: 100%;
    }
    .contactcontent{
        width: 100%;
    }
    .contactform{
        width: 100%;
    }
    
}
@media (width:425px) {
    .jobcards{
        display: block;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .card{
        width: 100px;
    }
  
}